<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h2>Welcome To GBU World Mame!</h2>
    <a href="{{url_for('home')}}">Back To Home</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi praesentium architecto ab deleniti error. Aperiam, maiores harum reiciendis vero accusamus aut. Earum deleniti officiis voluptate possimus quam esse saepe ea nihil unde fugit excepturi ab voluptatem libero temporibus nobis laborum a iusto aut optio id, dignissimos sequi expedita. Aut, beatae?</p>
</body>
</html>