{% extends 'base.html' %}

{% block title %}content page{% endblock %}

{% block body_class %} content {% endblock %}

{% block content %}
<h1>This is content page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores id necessitatibus saepe reiciendis, a itaque eos, excepturi cupiditate quos assumenda, odit dolorum vitae quidem aliquam esse doloremque enim vero nulla doloribus voluptatibus blanditiis nihil! Corrupti consectetur ipsa aliquam, temporibus repellat earum esse eaque minima tenetur, consequuntur veniam unde nemo magnam!</p>

{% endblock %}