<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
    <link rel="stylesheet" 
    href="{{ url_for('static', filename='style.css') }}"> 
</head>
<body>
    <h1>Welcome To Flask World!</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga quam ipsum laboriosam totam consequatur, eos aut deleniti, ex temporibus magnam vel eum culpa veniam a, nostrum voluptatum ullam suscipit! Tenetur.</p>
</body>
</html>