<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask CRUD</title>
    
</head>
<body>
    <h2>
        ENTER YOUR'S CREDENTIAL'S
    </h2>
    <form action="/add_user" method="POST">
        <input type="text" name="user" placeholder="Enter Username" required>
        <input type="text" name="phone" placeholder="Enter Phone number" required>
        <button type="submit">Add</button>
    </form>
    <h3>
        BACK-END DATA'S
    </h3>
    <table border="1" align="center">
        <tr>
            <th>USER 👤</th>
            <th>PHONE NO 📞</th>
            <th>ACTION</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>